@import "compass";
@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Poppins:700);
@import url(http://fonts.googleapis.com/css?family=Roboto);

@mixin font-smoothing($value: antialiased) {
  -webkit-font-smoothing: $value;
  -moz-font-smoothing: $value;
  -ms-font-smoothing: $value;
  font-smoothing: $value;
}

@import "desktop";